<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dsm.dao.ArticleDao">

    <!--抽取重复的语句代码片段-->
    <sql id="selectArticleSql">
        select * from article
    </sql>

    <select id="selectAll"  resultType="edu.dsm.entity.po.Article" >
        <include refid="selectArticleSql"/>
        order by articleDate desc
    </select>

    <select id="selectByArticleId" parameterType="edu.dsm.entity.po.Article" resultType="edu.dsm.entity.po.Article">
        select * from article WHERE articleId = #{articleId}
    </select>


    <delete id="deleteBatchArticles" >
        DELETE FROM article WHERE articleId in
        <foreach collection="array" item="arr" open="(" close=")" separator="," index="no">
            #{arr}
        </foreach>
    </delete>

    <select id="selectByCollegeName" parameterType="edu.dsm.entity.po.Article" resultType="edu.dsm.entity.po.Article">
        select * from article WHERE collegeName = #{collegeName}
    </select>
    <select id="selectByUserId" parameterType="edu.dsm.entity.po.Article" resultType="edu.dsm.entity.po.Article">
        select * from article WHERE authorId = #{userId}
    </select>
    <insert id="addArticle">
        insert into article (authorId,title,text,articleDate,collegeName) values (#{userId},#{title},#{text},now(),#{collegeName});
    </insert>

</mapper>