<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dsm.dao.MyLikeDao">
    <cache type="edu.dsm.util.RedisCache"
           eviction="LRU"
           flushInterval="6000000"
           size="1024"
           readOnly="false"></cache>
    <!--抽取重复的语句代码片段-->
    <sql id="selectLikeSql">
        select * from like
    </sql>

    <insert id="likeCollege">
        insert into mylike (userId,collegeId) select #{userId},#{collegeId}
            WHERE
	    NOT EXISTS (
		    SELECT
			    *
		    FROM
			    mylike
		    WHERE
			    userId = #{userId} AND collegeId = #{collegeId}
	);
    </insert>

    <select id="selectMyLike" resultType="MyLike">
        select * from mylike where userId = #{userId}
    </select>
    <select id="selectAll" resultType="edu.dsm.entity.po.MyLike">
        select * from mylike
    </select>

    <delete id="deleteMyLike" >
        DELETE FROM mylike WHERE likeId = #{collegeId}
    </delete>
</mapper>