<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="edu.dsm.dao.PageDao">   <!--namespace就是mapper文件的路径,文件名必须跟Dao类名字一致，因为是根据文件名做关联-->

    <select id="selectSize" statementType="STATEMENT" resultType="int" >
        select count(*) from
        ${entity}
    </select>

    <select id="selectTableData" resultType="map" >
        select * from
        ${entity}
        limit
        #{pageBegin}, #{pageSize}
    </select>

</mapper>