<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>管理员首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="css/admin.css" th:href="@{/css/admin.css}" media="all"/>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">

                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a lay-href="SchoolMaintain">
                                                <i class="layui-icon layui-icon-set"></i>
                                                <cite>院校数据</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="showArticle">
                                                <i class="layui-icon layui-icon-set"></i>
                                                <cite>用户文章</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="UserMaintain">
                                                <i class="layui-icon layui-icon-user"></i>
                                                <cite>用户管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="UserPowerMaintain">
                                                <i class="layui-icon layui-icon-user"></i>
                                                <cite>权限管理</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a lay-href="admin">
                                                <i class="layui-icon layui-icon-upload-drag"></i>
                                                <cite>退出登陆</cite>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">新增事项</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                <div carousel-item>
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a lay-href="SchoolMaintain" class="layadmin-backlog-body">
                                                <h3>新增院校</h3>
                                                <p><cite>6</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="UserMaintain" class="layadmin-backlog-body">
                                                <h3>新增用户</h3>
                                                <p><cite>12</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="ArticleMaintain" class="layadmin-backlog-body">
                                                <h3>用户文章</h3>
                                                <p><cite>9</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a lay-href="javascript:;" class="layadmin-backlog-body">
                                                <h3>用户评论</h3>
                                                <p><cite>6</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据概览</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                                <div carousel-item id="LAY-index-dataview">
                                    <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-tab layui-tab-brief layadmin-latestData">
                            <ul class="layui-tab-title">
                                <li class="layui-this">热门院校</li>
                                <li>热门文章</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <table class="layui-hide" id="city"></table>
                                </div>
                                <div class="layui-tab-item">
                                    <table class="layui-hide" id="spot"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript"  th:inline="javascript" >
    layui.config({
        base: '' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console']);

</script>
<script type="text/javascript"  th:inline="javascript" >
    layui.use('table', function(){
        var table = layui.table;

        //展示已知数据
        table.render({
            elem: '#city'
            ,cols: [[ //标题栏
                {field: 'city', title: '院校', width: 200}
                ,{field: 'intro', title: '介绍', minwidth: 100}
                ,{field: 'experience', title: '热度', width: 100, sort: true}
            ]]
            ,data: [{
                "city": "北京大学"
                ,"intro": "中华人民共和国教育部直属的全国重点大学，位列“双一流”、“211工程”、“985工程”"
                ,"experience": "80"
            }, {
                "city": "天津大学"
                ,"intro": "中华人民共和国教育部直属的首批全国重点大学，是国家“双一流”建设高校、国家首批“211工程”和“985工程”建设高校"
                ,"experience": "100"
            }, {
                "city": "上海大学"
                ,"intro": "上海市属的综合性大学，国家“双一流”建设高校、国家“211工程”建设高校，教育部与上海市人民政府共建高校"
                ,"experience": "90"
            }, {
                "city": "四川大学"
                ,"intro": "中华人民共和国教育部直属、中央直管副部级的全国重点大学；位列国家“双一流”、“211工程”、“985工程”"
                ,"experience": "70"
            }]
            //,skin: 'line' //表格风格
            ,even: true
            //,page: true //是否显示分页
            //,limits: [5, 7, 10]
            //,limit: 5 //每页默认显示的数量
        });
        table.render({
            elem: '#spot'
            ,cols: [[ //标题栏
                {field: 'city', title: '城市', width: 200}
                ,{field: 'intro', title: '介绍', minwidth: 100}
                ,{field: 'experience', title: '热度', width: 100, sort: true}
            ]]
            ,data: [{
                "city": "天安门"
                ,"intro": "门"
                ,"experience": "80"
            }, {
                "city": "长城"
                ,"intro": "城"
                ,"experience": "100"
            }, {
                "city": "故宫"
                ,"intro": "宫"
                ,"experience": "90"
            }, {
                "city": "天津之眼 "
                ,"intro": "眼"
                ,"experience": "70"
            }]
            //,skin: 'line' //表格风格
            ,even: true
            //,page: true //是否显示分页
            //,limits: [5, 7, 10]
            //,limit: 5 //每页默认显示的数量
        });
    });
</script>
<script>
</script>
</body>
</html>